<div class="main-content p-5">
    <div class="container-fluid">
        <div class="card">
            <div class="card-header card-header-danger">
                <h3 class="card-title">Verify Your Email</h3>
                <p class="card-category">
                    You registered an account on <b style="color: white;">OWN APP</b>, before being able to use your account you need to
                    verify that this is your email address by <a (click)="verify()" class="cls-pointer"
                        style="cursor: pointer;">Click here : </a>
                </p>
            </div>
            <div class="card-body">
                <div class="p-2">
                    <a (click)="verify()" class="cls-pointer" style="cursor: pointer;">Click here to verify </a>
                </div>
            </div>
        </div>
    </div>
</div>